@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Acme');

body  {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

header {
    background-color: #2E64FE;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    height: 100%;
    min-height: 100%;
    border-bottom: solid 15px #555555;
}

.zone_jeu{
    height: 100%;
  }
  main{
      height: 100%;
  }
.jeton-header {
    width: 60px;
    display: block;
    position: absolute;
    top: 8px;
    left: 40px;
}

h1 {
    font-family: 'Acme', sans-serif;
    font-size: 1rem;
    padding-left: 10%;
    padding-right: 10%;
}

h2 {
    font-family: 'Acme', sans-serif;
    font-size: 2.5rem;
}

/* sides */
.zoneGris1 {
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FE9A2E;
    padding: 10px;
    opacity: .2;
}

.zoneGris2 {
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FE9A2E;
    padding: 10px;
    opacity: .2;
}

.joueur1 {
    height: 100%;

}

.joueur2 {
    height: 100%;
}

.bg {
    background-color: #2E64FE;
}

.cell {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #CEE3F6;
    box-shadow: inset 2px 2px 0px 0px rgba(120, 120 ,120, 0.8);
}

/* boutons */

.player1 {
    position: relative;
    background-color: gold;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.player2 {
    position: relative;
    background-color: red;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.colact {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: solid 1px black;
    background-color: #ffffff;
    box-shadow: none;
}

.colact:hover {
    cursor: pointer;
}


footer {
    height: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    background-color : #2E64FE;
    color: #ffffff;
    font-size: 20px;

}

.reset {
    background-color: brown;
    font-size: 20px;
    color: #ffffff;
    border: brown;
    width: 150px;
    padding: 6px;
    margin-bottom: 50px;
    border-radius: 10px;
}
.logo_acs{
    height: 50px;
}
.moves{
    background-color: #555555;
    color: #ffffff;
    border-radius: 5px;
    font-size: 20px;
}

 @media (max-width: 500px) { 
    .groupe-btn-home {
        display: block !important;
        padding-left: 12%;
        padding-right: 12%;
    }
    .btn-home {
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }
 }
 

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
 
    .cell {
        width: 50px;
        height: 50px;
    }
    .colact {
        width: 50px;
        height: 50px;
    }
    .player1 {
        height: 50px;
        width: 50px;
    }
    .player2 {
        height: 50px;
        width: 50px;
    }
    .logo_acs{
        height: 50%;
        width: auto;
    }
    .zone_jeu{
        height: 100%;
      }
      main{
          height: 100%;
      }
}



/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
 
    .cell {
        width: 70px;
        height: 70px;
    }
    .colact {
        width: 70px;
        height: 70px;
    }
    .player1 {
        height: 70px;
        width: 70px;
    }
    .player2 {
        height: 70px;
        width: 70px;
    }
    .logo_acs{
        height: 70%;
        width: auto;
    }
    .zone_jeu{
        height: 100%;
      }
      main{
          height: 100%;
      }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  
    .cell {
        width: 70px;
        height: 70px;
    }
    .colact {
        width: 70px;
        height: 70px;
    }
    .player1 {
        height: 70px;
        width: 70px;
    }
    .player2 {
        height: 70px;
        width: 70px;
    }
    .zone_jeu{
      height: 100%;
    }
    main{
        height: 80vh;
        min-height: 100%;
    }
    .logo_acs{
        height: 70px;
    }
    h1 {
        font-family: 'Acme', sans-serif;
        font-size: 3rem;
        padding-left: 10%;
        padding-right: 10%;
    }
    
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
   
    .cell {
        width: 85px;
        height: 85px;
    }
    .colact {
        width: 85px;
        height: 85px;
    }
    .player1 {
        height: 85px;
        width: 85px;
    }
    .player2 {
        height: 85px;
        width: 85px;
    }
    .zone_jeu{
        height: 100%;
    }
    main{
        height: 100%;
        min-height: 100%;
    }
    h1 {
        font-family: 'Acme', sans-serif;
        font-size: 4rem;
        padding-left: 10%;
        padding-right: 10%;
    }
}

/* page gagné */

.gagne {
    display: flex;
    justify-content: center;
}

.rejouer {
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
    } 

.quitter {
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
}

.bravo {
    font-size: 50px;
    text-align: center;
    margin-top: 10%;

}

.perdu {
    font-size: 50px;
    text-align: center;
  margin-top: 10%;
   }

.tie   {
       font-size: 50px;
       text-align: center;
       margin-top: 10%;
   }